.container {
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  background-color: white;
  margin-bottom: 30px;
  width: 100%;
}

.wrapper {
  padding: 10px;
}

.top {
  display: flex;
  align-items: center;
  padding: 0 20px;
  padding-top: 10px;
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  cursor: pointer;
}

.profile-image:active {
  transform: translateY(-2px);
}

.profile-image:hover {
  filter: brightness(1.08);
}

.top input {
  border: none;
  width: 100%;
  font-size: 17px;
}

.top input:focus {
  outline: none;
}

.shareHr {
  margin: 20px;
}

.image-container {
  display: flex;
  justify-content: center;
}

.error {
  text-align: center;
  color: red;
  font-size: 13px;
}

@media screen and (max-width: 760px) {
  .container {
    min-width: 0;
    max-width: 650px;
    margin: 0 auto 30px;
  }
}
