.follower {
  width: 90%;
  margin: 5px auto;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  cursor: pointer;
}
.image:hover {
  filter: brightness(1.08);
}
.image:active {
  transform: translateY(-2px);
}

.username {
  font-size: 24px;
  cursor: pointer;
}
.username:hover {
  text-decoration: underline 2px;
}
.username:active {
  transform: translateY(-2px);
}
