.container {
  flex: 7.5;
}

.wrapper {
  padding: 20px;
}

.title {
  text-align: left;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 1rem;
}

.spinner {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: rgb(148, 148, 148);
}

.card {
  border: 1px solid red;
}

@media screen and (max-width: 530px) {
  .main {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
